/* Place CSS styles here */

html {background-color:rgb(251, 251, 251)}

body{
    font-family: "Reddit Mono", monospace;
}
h1{font-family: "freight-big-pro", serif;
    font-size: 175px;
    font-weight: 400px;
    font-style: normal;
    line-height: 0;
    text-align: center;
    color: rgb(14, 14, 14);
}
h2{font-family: "freight-big-pro", serif;
    font-size: 75px;
    font-weight: 400;
    font-style: normal;
    color: rgb(9, 9, 9);
    text-align: center;   
    background-clip: border-box;
    background-color: color(display-p3 1 0.96 0.05);
    padding-bottom: 24px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 24px;
}
.background-rectangle{
    background-color: black;
    padding-bottom: 50px;
    padding-top: 50px;
}
.various-styles{
    font-family: "freight-big-pro", sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-style: normal;
    color: color(display-p3 1 0.96 0.05);
    text-align: center;    
}
.variety-various{
    font-family: "freight-big-pro", serif;
font-style: normal;
font-size: 30px;
   text-align: center;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 30px;
   color: color(display-p3 1 0.96 0.05);
   padding-bottom: 50px;
}
.italic{
    font-family: "freight-big-pro", serif;
font-weight: 300;
font-style: italic;
    font-size: 100px;
   
    margin-right: 0px;
    margin-left: 0px;
color: rgb(240, 240, 240);
text-align: center;
}
.serif{
    font-family: "freight-big-pro", serif;
    font-weight: 300;
    font-style: serif;
        font-size: 150px;
        text-align: left;
        margin-right: 0px;
        margin-left: 0px;
    color: rgb(240, 240, 240);
    text-align: center;
}
.sanserif{
    font-family: "freight-macro-pro", serif;
font-weight: 700;
font-style: normal;
    font-size: 100px;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    font-style: sans-serif;
    color: rgb(214, 214, 214);
}
h4{
    font-family: "freight-big-pro", serif;
font-weight: 200px;
font-style: normal;
    font-size: 100px;
   text-align: left;
   margin-left: 200px;
   color: rgb(19, 19, 19);
}

p{text-indent: 10px;
line-height: 1.5;
white-space-collapse: 10px;
font-family: "freight-big-pro", serif;
font-weight: 300;
font-style: normal;
font-size: 30px;
color: rgb(26, 26, 26)
}
.about-head{
    font-family: "freight-big-pro", serif;
font-weight: 400px;
font-style: normal;
    font-size: 25px;
   text-align: center;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 130px;
   color: rgb(19, 19, 19);
   padding-bottom: 75px;
}
.flex-box{
    display: flex;
    justify-content: center;
}
h3{
    font-family: "freight-big-pro", serif;
font-weight: 200px;
font-style: normal;
    font-size: 100px;
   text-align: left;
   margin-left: 200px;
   color: rgb(19, 19, 19);
}
.twosides-left{
    font-family: "freight-big-pro", serif;
font-weight: 200px;
font-style: normal;
    font-size: 100px;
    text-align: center;
   margin-left: 550px;
   color: rgb(19, 19, 19);
   padding-top: 100px;
}
.twosides-right{
    font-family: "freight-big-pro", serif;
font-weight: 400px;
font-style: normal;
    font-size: 100px;
   text-align: right;
   margin-right: 200px;
   color: rgb(19, 19, 19);
   padding-top: 100px;
   padding-bottom: 100px;
}
.twosides{
    display: flex;
justify-content: space-between;
}
.body-left{
    font-family: "freight-big-pro", serif;
font-size: 35px;
text-align:left;
margin-top: 50px;
margin-left: 240px;
vertical-align: center;
background-clip: border-box;
    background-color: color(display-p3 1 0.96 0.05);
   padding: 50px;
   padding-bottom: 50px;
   margin-bottom: 100px;
   columns: auto;
}
.body-right{
    font-family: "freight-big-pro", serif;
font-weight: 30px;
font-style: normal;
font-size: 25px;
text-align:left;
text-indent: 50px;
margin-top: 50px;
margin-right: 200px;
margin-left: 175px;
background-clip: border-box;
    background-color: color(display-p3 1 0.96 0.05);
    padding:80px;
    margin-bottom: 100px;
    column-width: auto;
}
.body-sides{
    display: flex;
justify-content: space-between;
}
.italic2{
    font-family: "freight-big-pro", serif;
font-weight: 300;
font-style: italic;
    font-size: 100px;
    margin-right: 0px;
    margin-left: 0px;
color: rgb(240, 240, 240);
text-align: center;
}
.background-rectangle2{
    background-color: black;
    padding-bottom: 150px;
    margin-bottom: 20px;
}
.variety-various2{
    font-family: "freight-big-pro", serif;
font-style: normal;
font-size: 30px;
   text-align: center;
   margin-left: 200px;
   margin-right: 200px;
   padding-top: 70px;
   color: color(display-p3 1 0.96 0.05);
   padding-bottom: 50px;
}
.sanserif2{
    font-family: "freight-macro-pro", serif;
font-weight: 700;
font-style: normal;
    font-size: 65px;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    font-style: italic;
    color: rgb(214, 214, 214);
}
.serif2{
    font-family: "freightbigcmp-pro", serif;
font-weight: 900;
font-style: normal;
        font-size: 105px;
        text-align: left;
        margin-right: 0px;
        margin-left: 0px;
    color: rgb(240, 240, 240);
    text-align: center;
}
.serif3{
    font-family: "freight-micro-pro", serif;
font-weight: 400;
font-style: normal;
        font-size: 130px;
        text-align: left;
        margin-right: 0px;
        margin-left: 0px;
    color: rgb(240, 240, 240);
    text-align: center;
}
.serif4{
font-family: "freight-macro-pro", serif;
font-weight: 400;
font-style: normal;
        font-size: 95px;
        text-align: left;
        margin-right: 0px;
        margin-left: 0px;
    color: rgb(240, 240, 240);
    text-align: center;
}
.variety-various3{
    font-family: "freight-big-pro", serif;
font-style: normal;
font-size: 30px;
   text-align: center;
   margin-left: 300px;
   margin-right: 300px;
   padding-top: 70px;
   color: color(display-p3 1 0.96 0.05);
   padding-bottom: 50px;
}